.new-incident-container{
    width:100%;
    max-width: 1000px;
    height:90vh;
    margin: 20px auto 20px auto;/*Margin 0 auto faz com que o conteúdo fique centralizado*/
    background: rgba(4, 8, 27, 0.753);
    display:flex;
    align-items: center;
    justify-content: center;
}

.new-incident-container .content{
    padding: 96px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;/*Bota um espaço entre as sections de posições opostas*/
    align-items:center;
    height: 70px;
}

.new-incident-container .content section{
    width:90%;
    max-width: 380px;
    margin-bottom: 160px;
    margin-right: 12px;
    
}
.new-incident-container .content section img{
    width:90%;
    max-width: 280px;
    margin-left: 50px;
}

.new-incident-container .content section h1{
    margin: 25px 0 12px;
    font-size: 32px;
    color: #ffffff;
    text-align: center;
}
.new-incident-container .content section p{
    font-size: 18px;
}

.new-incident-container .content p{/*estilizando paragrafo */
    font-size: 18px;
    color: #9b9ba7;
    line-height: 32px;
}

.new-incident-container .content form{
    width: 100%;
    max-width: 450px; 
    
}

.new-incident-container .content input,
.new-incident-container .content form textarea{
    margin-top: 8px;
    
}

.fotoProd::-webkit-file-upload-button {
    
     opacity: 0;
     margin-top: 12px;
     margin-right: 25px;
     color: #ffffff;
     z-index: -11;
  }
  .fotoProd::-webkit-{
      opacity: 0;
      color: #ffffff;
  }
.fotoProd::before{
    content: 'Foto do produto';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    padding: 5px 1px;
    outline: none;
    margin-top: 10px;
    text-align: left;
    margin-left: -15px;
    color: #ffffff;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 300;
    font-size: 12pt;
}
.Selection-selected {
    background-color: aliceblue;
}
.Selection{
    margin-top: 8px;
    margin-bottom: 4px;
    border-radius: 4px;
    border: 1px solid #9b9ba7;
}
.Selection-selected{
    background-color: aliceblue;
}


.Desenvolvedores{
    width: 100%;
    max-width: 100%;
    max-height: 5%;
    color: #003d74;
    text-align: center; 
}