.register-container{
    width:100%;
    max-width: 920px;
    height:90vh;
    margin: 20px auto 20px auto;/*Margin 0 auto faz com que o conteúdo fique centralizado*/
    display:flex;
    align-items: center;
    justify-content: center;
}

.register-container .content{
    width: 100%;
    padding-left: 46px;
    padding-right: 46px;
    display: flex;
    justify-content: space-between;/*Bota um espaço entre as sections de posições opostas*/
    align-items:center;
}

.register-container .content section{
    width:100%;
    max-width: 380px;
    max-width: 380px;
    margin-bottom: 160px;
    margin-right: 5px;
}
.register-container .content section img{
    margin-left: 40px;
    max-width: 300px;
    max-height: 520px;
}

.register-container .content section h1{
    margin: 14px 0 22px;
    font-size: 42px;
    color: #ffffff;
    text-align: center;
}

.register-container .content p{/*estilizando paragrafo */
    font-size: 18px;
    color: #9b9ba7;
    line-height: 32px;
    margin-left: 44px;
}

.register-container .content form{
    width: 60%;
    height: 100%;
    max-width: 450px;
    padding-left: 15px; 
}

.register-container .content input{
    margin-top: 8px;
    width: 440px;
    height: 40px;
}
.register-container .content button{
    margin-top: 28px;
}

.register-container .content .back-link{
    margin-left: 60px;
}

.register-container .content .input-group{
    display: flex;
    max-width: 1640px;
    height: 60px;
}
.Desenvolvedores{
    
    width: 100%;
    max-width: 100%;
    max-height: 25%;
    margin-top: 25px;
    color: #003d74;
    text-align: center; 
}