.login-container{
    width:100%;/*largura*/
    max-width: 100%;/*Largura máxima */
    height: 100vh;/* Altura */
    margin: 0 auto;/*Margin 0 auto faz com que o conteúdo fique centralizado*/
    
    display:flex;/*Todos os ítens do container ficam lado a lado*/
    align-items: center;/*Alinha os ítens verticalmente ao centro */
    justify-content: center;/*Alinha os ítens horizontalmente ao centro */
    
}
.login-container img{
    border: 10px #ffffff;
    max-width: 700px;
    max-height: 700px;
    margin-left: 50px;
}
/*Formulário */
.login-container section.form{/*delimitar tamanho*/
width:90%;/*Largura */
max-width: 350px;/* Largura máxima */
margin-top: 1px;
}
.login-container section.form img{
    align-items: center;
    margin-left: 70px;
}
/*Estilizar formulário*/
.login-container section.form form{
    margin-top: 10px;
}
/*Estilizar fonte e imagem */
.login-container section.form form h1{
    font-size:  32px;
    margin-bottom: 12px;
    text-align: center;
    color: #003d74;
}

