@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');/*fonte google*/

*{
    margin:0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
   
    font: 400 14px Roboto, sans-serif;/* sans-serif é para de queda do google.*/
    background: #dcdce9c4;
    -webkit-font-smoothing: antialiased;/*antialiased melhora a visualização */
    background-size: 3000px 3000px;
    background-image: url(../src/assets/background.jpg);
    
}


input, button, textarea,p,strong{
    font:  16px Roboto, sans-serif;
    background-color: transparent;
    border-top-style: none;
    border-left-style: none;
    border-right-style:none;
    border-bottom-width: 2px;
    border-bottom-color: #ffffff;
    color: #ffffff;
}

.button{
    width: 100%;
    height: 60px;
    background-image: -webkit-linear-gradient(top, #FFFF, #FFFF);
    border: 1px solid #191970;
    border-radius: 22px;
    color: #191970;/*Cor de texto dentro do botão */
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    transition: filter 0.2s;/*Duração de transição */
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.479);
    
}
.button:hover{
    filter: brightness(90%);/*Opacidade ao passar */
    border-color: #999;
}

form input{/*Formulário*/
    width: 100%;
    height: 55px;
    color: #ffffff;
    
    border-radius: 5px;
    padding: 0 24px;
    margin-top: 6px;
}

form textarea{/*Caixa de descrição*/
    width: 100%;
    resize: vertical;/*Aumenta a área de texto apenas na vertical*/
    min-height: 140px;
    height: 40px;
    color: #ffffff;
    border: 1px solid #9b9ba7;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 24px;/*tamanho das linhas*/
    background-color: #FFFF;
}

/*Estilizar o link */
.back-link{
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
    
}
/*estilizar ícone */
.back-link svg{
    margin-right: 8px;
}
/*hover do link */
.back-link:hover{
    opacity: 0.8;
    color: rgba(133, 131, 128, 0.993);
}