.register-container{
    
    margin: 0 auto;
    background-image: url("../../assets/background.jpg");
    display:flex;
    align-items: center;
    justify-content: center;
    background: rgba(4, 8, 27, 0.753);
}

.register-container .content{
   
}

.register-container .content section{
    width:100%;
    max-width: 380px;
    margin-bottom: 10px;
    
}
.register-container .content section img{
    margin-left: 40px;
    max-width: 300px;
    max-height: 520px;
}

.register-container .content section h1{
    margin: 14px 0 22px;
    font-size: 42px;
    color:#ffffff;
    text-align: center;
}

.register-container .content p{/*estilizando paragrafo */
    font-size: 18px;
    color: #9b9ba7;
    line-height: 32px;
    margin-left: 12px;
}

.register-container .content form{
    width: 60%;
    height: 100%;
    max-width: 450px;
    
}

.register-container .content input{
    margin-top: 8px;
    width: 440px;
    height: 40px;
}
.register-container .content button{
    margin-top: 28px;
}

.register-container .content .back-link{
    margin-left: 60px;
}

.register-container .content .input-group{
    display: flex;
    max-width: 40px;
    height: 60px;
}
.register-container .content .input-group .Selection{
    max-Width: 100px;
    width: 100%;
    max-Height: 20px;
    height: 100%;
    margin-top: 12px;
    margin-left: 0px;
    margin-right: 18px;
    
   
}

 .SelectionCity{
    max-Width: 318px;
    width: 100%;
    max-Height: 500px;
    height: 70%;
    border-radius: 22px;
    margin-top: 12px;
    padding-bottom: 12px;
    
}
.SelectionCity{
       max-width: 322px;
       border-radius: 150px;
    
}

.register-container .content from .input-group input + input{/*Pega todo input que tenha um input antes ou seja o segundo*/
    margin-left: 18px;
}
.Desenvolvedores{
    max-height: 12%;
    color: #003d74;
    text-align: center; 
}