.register-container{
    width:100%;
    max-width: 1120px;
    height:100vh;
    margin: 0 auto;

    display:flex;
    align-items: center;
    justify-content: center;
}

.register-container .content{
    width: 100%;
    padding: 96px;
    background: #f0f0f51e;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.479);/* 0.1 é 10% de opacidade */ 
    border-radius: 8px;
    
    display: flex;
    justify-content: space-between;/*Bota um espaço entre as sections de posições opostas*/
    align-items:center;
}

.register-container .content section{
    width:100%;
    max-width: 380px;
}
.register-container .content section img{
    margin-left: 90px;
    max-width: 220px;
}

.register-container .content section h1{
    margin: 34px 0 32px;
    font-size: 42px;
    color: rgba(0, 61, 116);
    text-align: center;
}

.register-container .content p{/*estilizando paragrafo */
    font-size: 18px;
    color: #003d74;
    line-height: 32px;
    margin-left: 12px;
}

.register-container .content form{
    width: 60%;
    height: 100%;
    max-width: 450px; 
}

.register-container .content input{
    margin-top: 8px;
    width: 440px;
    height: 40px;
}
.register-container .content button{
    margin-top: 28px;
}

.register-container .content .back-link{
    margin-left: 60px;
}

.register-container .content .input-group{
    display: flex;
    width: 440px;
    height: 26px;
}

.register-container .content from .input-group input + input{/*Pega todo input que tenha um input antes ou seja o segundo*/
    margin-left: 8px;
}